@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-success" role="alert">
    <strong>Conta criada com sucesso! Faça <a asp-controller="Usuario" asp-action="Login" class="alert-link">login</a> usando o email e a senha que você acabou de criar.</strong>
</div>