@{
    ViewData["Title"] = "Esqueci a senha";
}

<div class="block-heading">
    <h2 class="text-info"><br>E-mail para confirmação</h2>
</div>
<form>
    <div class="form-group"><label for="password">E-mail</label><input class="form-control" type="password" id="password"></div><a class="btn btn-primary btn-block" role="button" asp-action="Esqueci%20a%20senha-1">Enviar e-mail</a><a asp-action="Login"><br>Voltar</a>
</form>

