@{
    ViewData["Title"] = "Confirmação: Esqueci a senha";
}

<div class="block-heading">
    <h2 class="text-info"><br>Confirme o código enviado por e-mail</h2>
</div>
<form>
    <div class="form-group"><label for="password">Código</label><input class="form-control" type="password" id="password"></div><button class="btn btn-primary btn-block" type="button">Confirmar</button><a href="Login.html"><br>Voltar</a>
</form>
