@{
    ViewData["Title"] = "Home Page";
}

<div class="block-heading">
    <h2 class="text-info"><br>Trabalho de Conclusão de Curso - Desenvolvimento de Sistemas</h2>
    <p>Projeto realizado por Antonio Oliveira e Rafael Alves</p>
</div>
